name: Deploy Project
on: 
  push:
    branches:
      - second-action-react-demo

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: 02_Demo_project/package-lock.json

      - name: Install dependencies
        working-directory: 02_Demo_project
        run: npm ci

      - name: Run tests
        working-directory: 02_Demo_project
        run: npm test

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: 02_Demo_project/package-lock.json

      - name: Install dependencies
        working-directory: 02_Demo_project
        run: npm ci

      - name: Build Project
        run: npm run build
        working-directory: 02_Demo_project
        
      - name: Deploy
        run: echo "Deploying ..."